# Environments
.env
db.sqlite3
__pycache__
migrations
node_modules

# React
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

/client/babel.config.cjs
/client/jest.config.cjs
/client/jest.setup.js

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos
/EstudioyEntrenamiento/test.py
/APPWapiptda/test.py
/APPWapiptda/factories.py
