.cabeza {
    margin-top: 5px;
    margin-bottom: 25px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #fff;
    height: auto;
}

.titulo__cabecera {
    width: 100%;
    height: auto;
    align-items: start;
    display: flex;
}

.titulo__cabecera h2 {
    text-align: left;
    font-family: 'Pacifico', cursive;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    font-size: 1.5rem;
    /*color: rgb(0, 146, 99);*/
    color: #0C2342;
}

.boton__regreso {
    border-radius: 20px;
    background-color: #0C2342;
    ;
}

.titulo__ayuda {
    width: 100%;
    height: auto;
    font-family: 'Pacifico', cursive;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    font-size: 1rem;
    /*color: rgb(0, 146, 99);*/
    color: #0C2342;
    display: flex;
    justify-content: center;
}

.titulo__ayuda a {
    text-decoration: none;
    color: #333;
}

.titulo__ayuda a :hover {
    color: rgb(190, 202, 199);
    transition: 0.5s;
}

.almacen__subtitulo {
    background-color: rgb(154, 207, 190);
    border-radius: 5px;
    border: 1px solid #fff;
    width: 100%;
    height: auto;
}

.subtitulo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.subtitulo h4 {
    text-align: center;
    font-family: 'Pacifico', cursive;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    font-size: 1.2rem;
    /*color: rgb(0, 146, 99);*/
    color: #0C2342;
}

.almacen__niveles {
    width: 100%;
    background-color: #fff;
    border: 1px solid #fff;
    height: auto;
}

.contenedor__niveles {
    margin-left: 32%;
    width: 40%;
}

.contenido__niveles {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.level {
    width: 10%;
    height: 10%;
    text-align: center;
    border: 1px solid #333;
    border-radius: 100px;
}

.textos {
    background-color: rgb(154, 207, 190);
}

.textos a {
    color: #333;
}

.textos i {
    padding-top: 5px;
    padding-left: 10px;
    height: 30px;
    width: 30px;
}

.textos a :hover {
    background-color: rgb(190, 202, 199);
}

.opciones__cuerpo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.opciones__cuerpo h5 {
    font-family: 'Pacifico', cursive;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    font-size: 1.2rem;
    /*color: rgb(0, 146, 99);*/
    color: #0C2342;
}

.contenedor__cuerpo {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 10px 0;

    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}

.contenedor__cuerpo_tipo4 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 10px 0;

    display: grid;
    grid-template-columns: 4fr;
    gap: 20px;
}

.contenedor__cuerpo__division {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: grid;
    grid-template-columns: 3fr;
}

.contenedor__cuerpo__division_tipo4 {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: grid;
    grid-template-columns: 4fr;
}

.contenedor__cuerpo__division_t9 {
    width: 110%;
    max-width: 1200px;
    height: 100%;
    display: grid;
    grid-template-columns: 4fr;
}

.alineacion__etiquetas .span,
.span-2 {
    text-align: left;
    font-family: 'Pacifico', cursive;
}

.span {
    padding-left: 30px;
    font-size: 1.1rem;
}

.span-2 {
    padding-left: 30px;
    font-size: 1.3rem;
}

.etiqueta {
    font-family: 'Pacifico', cursive;
    padding-left: 15px;
    font-size: 1.3rem;
    text-align: justify;
}

.contenedor__imagen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenedor__imagen_tipo4 {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.espacio-tipo4 {
    margin-left: 10%;
}

.conten__ {
    align-items: center;
    border: 1px solid #333;
    margin: 0;
    padding: 0;
}

.conten__tipo4 {
    width: 100%;
    height: 100%;
    align-items: center;
}

.imagen {
    width: 80%;
    height: 100%;
}

.imagen_tipo1 {
    width: 80%;
    height: 100%;
}

.imagen_tipo1 img {
    width: 300px;
    height: 300px;
    border: 0.5 px gray;
    margin-bottom: 15px;
}

.imagen_tipo3 {
    width: 80%;
    height: 100%;
}

.imagen_tipo3 img {
    width: 300px;
    height: 300px;
    border: 0.5 px gray;
    margin-bottom: 5px;
}

.imagen_tipo4 {
    width: 100%;
    height: 100%;
}

.imagen_tipo4 img {
    width: 500px;
    height: 400px;
    border: 0.5 px gray;
}

.card__cuerpo {
    background-color: #fff;
}

.card__cuerpo .referencia {
    font-family: 'Pacifico', cursive;
    font-size: 0.7rem;
}

.card__cuerpo .referencia-2 {
    font-family: 'Pacifico', cursive;
    font-size: 0.7rem;
}

.estilo__ {
    border: 1px solid gray;
    height: 50px;
    margin-left: 5%;
}

.bajo__cuerpo {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.boton__regreso i {
    width: 40px;
}

/* Estilos para el círculo */
.form-check-label {
    position: relative;
    cursor: pointer;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
}

/* Estilo del círculo seleccionado */
.form-check-input:checked~.circle {
    border-color: #007bff;
    /* Color de borde del círculo seleccionado (puedes ajustar el color según tus necesidades) */
}

/* Estilos para el botón deshabilitado */
.disabled {
    pointer-events: none;
    opacity: 0.65;
}

/* NUEVO CONTENIDO INDIVIDUAL */
.contenedor-division_CI {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card_CI {
    border-radius: 10px;
    min-height: 200px;
    font-weight: bold;
    padding: 20px;
    position: relative;
    overflow: hidden;

    /*Para la img de fondo*/
    background-size: cover;
    background-position: center center;

    border: 1px solid #333;
}

.card_CI .textos__ {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contenido-imagen {
    margin-left: 25%;
    margin-top: 5%;
}

/* Tipo 6 */
.card_CI_6 {
    border-radius: 10px;
    min-height: 200px;
    font-weight: bold;
    padding: 5px;
    position: relative;
    overflow: hidden;

    /*Para la img de fondo*/
    background-size: cover;
    background-position: center center;

    border: 1px solid #333;
}

.card_CI_6 .textos__6 {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.textos__6 {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contenedor-division_CI_6 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
}

.textos__6 img {
    width: 270px;
    height: 250px;
    border: 0.8px solid #333;
}

.textos__6_3 {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contenedor-division_CI_6_3 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
}

.textos__6_3 img {
    width: 180px;
    height: 170px;
    border: 0.8px solid#333;
}

.contenedor__colorear {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
}

.contenedor-division_CI_10 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.textos__10 {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.textos__10 img {
    width: 250px;
    height: 250px;
    border: 2.5px solid #333;
    border-radius: 25px;
}

/* PALETA */
.color-box {
    width: 45px;
    height: 45px;
    border: 1px solid #000;
    margin: 5px;
}

.alineacion__paleta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;

    width: 100%;
}

.lista-paleta {
    max-height: 300px;
    overflow-y: auto;
    margin-left: 25%;
}


/* MEDIAS */
@media (max-width: 940px) {
    .contenido-imagen {
        margin-left: 10%;
        margin-top: 5%;
    }

    .contenedor-division_CI_10 {
        gap: 5px;
    }

    .contenedor-division_CI_6,
    .contenedor-division_CI_6_3 {
        gap: 2px;
    }

    .textos__10 img {
        width: 200px;
        height: 200px;
        border: 2.5px solid #333;
        border-radius: 25px;
    }

    .textos__6 img {
        width: 210px;
        height: 200px;
        border: 0.8px solid #333;
    }

    .textos__6_3 img {
        width: 140px;
        height: 130px;
        border: 0.8px solid#333;
    }
}

@media (max-width: 860px) {
    .contenido-imagen {
        margin-left: 10%;
        margin-top: 5%;
    }

    .contenedor-division_CI_10 {
        gap: 5px;
    }

    .contenedor-division_CI_6,
    .contenedor-division_CI_6_3 {
        gap: 2px;
    }

    .textos__10 img {
        width: 170px;
        height: 170px;
        border: 2.5px solid #333;
        border-radius: 25px;
    }

    .textos__6 img {
        width: 190px;
        height: 180px;
        border: 0.8px solid #333;
    }

    .textos__6_3 img {
        width: 120px;
        height: 110px;
        border: 0.8px solid#333;
    }
}

@media (max-width: 770px) {
    .contenido-imagen {
        margin-left: 5%;
        margin-top: 5%;
    }

    .contenedor-division_CI_10 {
        gap: 5px;
    }

    .contenedor-division_CI_6,
    .contenedor-division_CI_6_3 {
        gap: 2px;
    }

    .textos__10 img {
        width: 150px;
        height: 150px;
        border: 2.5px solid #333;
        border-radius: 25px;
    }

    .textos__6 img {
        width: 170px;
        height: 160px;
        border: 0.8px solid #333;
    }

    .textos__6_3 img {
        width: 110px;
        height: 100px;
        border: 0.8px solid#333;
    }
}

@media (max-width: 768px) {
    .contenido-imagen {
        margin-left: 5%;
        margin-top: 5%;
    }

    .contenedor-division_CI_10 {
        gap: 5px;
    }

    .contenedor-division_CI_6,
    .contenedor-division_CI_6_3 {
        gap: 2px;
    }

    .textos__10 img {
        width: 200px;
        height: 200px;
        border: 2.5px solid #333;
        border-radius: 25px;
    }

    .textos__6 img {
        width: 180px;
        height: 200px;
        border: 0.8px solid #333;
    }

    .textos__6_3 img {
        width: 120px;
        height: 110px;
        border: 0.8px solid#333;
    }
}

@media (max-width: 700px) {
    .contenido-imagen {
        margin-left: 2%;
        margin-top: 2%;
    }

    .contenedor-division_CI_10 {
        gap: 5px;
    }

    .textos__10 img {
        width: 160px;
        height: 160px;
        border: 1.5px solid #333;
        border-radius: 25px;
    }

    .textos__6 img {
        width: 180px;
        height: 180px;
        border: 0.8px solid #333;
    }

    .textos__6_3 img {
        width: 140px;
        height: 130px;
        border: 0.8px solid#333;
    }
}