.cabeza {
    margin-top: 5px;
    margin-bottom: 25px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #fff;
    height: auto;
}

.titulo__cabecera {
    width: 100%;
    height: auto;
    align-items: start;
    display: flex;
}

.titulo__cabecera h2 {
    text-align: left;
    font-family: 'Pacifico', cursive;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    font-size: 1.5rem;
    /*color: rgb(0, 146, 99);*/
    color: #0C2342;
}

.boton__regreso {
    border-radius: 20px;
    background-color: #0C2342;
    ;
}

.titulo__ayuda {
    width: 100%;
    height: auto;
    font-family: 'Pacifico', cursive;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    font-size: 1rem;
    /*color: rgb(0, 146, 99);*/
    color: #0C2342;
    display: flex;
    justify-content: center;
}

.titulo__ayuda a {
    text-decoration: none;
    color: #333;
}

.titulo__ayuda a :hover {
    color: rgb(190, 202, 199);
    transition: 0.5s;
}

.almacen__subtitulo {
    background-color: rgb(154, 207, 190);
    border-radius: 5px;
    border: 1px solid #fff;
    width: 100%;
    height: auto;
}

.subtitulo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.subtitulo h4 {
    text-align: center;
    font-family: 'Pacifico', cursive;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    font-size: 1.2rem;
    /*color: rgb(0, 146, 99);*/
    color: #0C2342;
}

.almacen__niveles {
    width: 100%;
    background-color: #fff;
    border: 1px solid #fff;
    height: auto;
}

.contenedor__niveles {
    margin-left: 32%;
    width: 40%;
}

.contenido__niveles {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.level {
    width: 10%;
    height: 10%;
    text-align: center;
    border: 1px solid #333;
    border-radius: 100px;
}

.textos {
    background-color: rgb(154, 207, 190);
}

.textos a {
    color: #333;
}

.textos i {
    padding-top: 5px;
    padding-left: 10px;
    height: 30px;
    width: 30px;
}

.textos a :hover {
    background-color: rgb(190, 202, 199);
}

.opciones__cuerpo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.opciones__cuerpo h5 {
    font-family: 'Pacifico', cursive;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    font-size: 1.2rem;
    /*color: rgb(0, 146, 99);*/
    color: #0C2342;
}

.contenedor__cuerpo {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 10px 0;

    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}

.contenedor__cuerpo_tipo4 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 10px 0;

    display: grid;
    grid-template-columns: 4fr;
    gap: 20px;
}

.contenedor__cuerpo_tipo9 {
    width: 100%;
    max-width: 1200px;
    margin: auto;

    display: grid;
    grid-template-columns: 4fr;
    gap: 20px;
}

.contenedor__cuerpo_tipo6,
.contenedor__cuerpo_tipo5 {
    width: 100%;
    max-width: 1200px;
    margin: auto;

    display: grid;
    grid-template-columns: 4fr;
    gap: 20px;
}

.contenedor__cuerpo__division {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: grid;
    grid-template-columns: 3fr;
}

.contenedor__cuerpo__division_tipo4 {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: grid;
    grid-template-columns: 4fr;
}

.contenedor__cuerpo__division_t9,
.contenedor__cuerpo__division_t5 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.alineacion__etiquetas .span {
    text-align: left;
    font-family: 'Pacifico', cursive;
}

.span {
    padding-left: 30px;
    font-size: 1.1rem;
}

.span-2,
.span-2_ {
    font-family: 'Pacifico', cursive;
    padding-left: 30px;
    font-size: 1.3rem;
}

.etiqueta {
    font-family: 'Pacifico';
    padding-left: 15px;
    font-size: 1.3rem;
    text-align: justify;
}

.contenedor__imagen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.conten__ {
    align-items: center;
    border: 1px solid #333;
    margin: 0;
    padding: 0;
}

.contenedor__imagen_tipo4 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contenedor__imagen_tipo5 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor__imagen_tipo_7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conten__tipo4 {
    width: 100%;
    height: 100%;
    margin-top: 5%;
}

.conten__tipo7 {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen_tipo7,
.imagen_tipo7_ {
    margin-left: 5%;
}

.imagen_tipo7 img {
    width: 500px;
    height: 400px;
}

.borde_img_7 {
    border: gray 0.5px solid;
    border-radius: 25px;
}

.imagen_tipo7_ img {
    width: 500px;
    height: 450px;
}

.imagen {
    width: 80%;
    height: 100%;
}

/* Tipo de imagen para actividades */

.imagen_tipo1 {
    width: 80%;
    height: 100%;
}

.imagen_tipo1 img {
    width: 300px;
    height: 300px;
    border: 0.5 px gray;
    margin-bottom: 15px;
}

.imagen_tipo3 {
    width: 80%;
    height: 100%;
}

.imagen_tipo3 img {
    width: 300px;
    height: 300px;
    border: 0.5 px gray;
    margin-bottom: 5px;
}

.imagen_tipo4 {
    width: 100%;
    height: 100%;
    margin: auto;
}

.imagen_tipo4 img {
    width: 500px;
    height: 400px;
    border: 0.5 px gray;
}

.ali_img_tipo4 {
    margin-right: 5%;
}

.imagen_tipo5,
.imagen_tipo5_ {
    width: 100%;
    height: 100%;
}

.imagen_tipo5 img {
    width: 500px;
    height: 400px;
    border: 0.5 px gray;
}

.imagen_tipo5_ img {
    width: 525px;
    height: 400px;
    border: 0.5 px gray;
}

.imagen_selcmulti {
    width: 300px;
    height: 200px;
}

.imagen_selcmulti_ {
    width: 350px;
    height: 225px;
}

/* FIN */

/* Ajuste de texto */

.ali_refe_7 {
    margin-left: 5%;
}

.ubi_refe_5 {
    margin-left: 25%;
}

.card__cuerpo {
    background-color: #fff;
}

.card__cuerpo .referencia {
    font-family: 'Pacifico', cursive;
    font-size: 0.7rem;
}

.card__cuerpo .referencia-2 {
    font-family: 'Pacifico', cursive;
    font-size: 0.7rem;
}

.estilo__ {
    border: 1px solid gray;
    height: 50px;
    margin-left: 5%;
}

.bajo__cuerpo {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.boton__regreso i {
    width: 40px;
}

/* FIN */

/* Estilos para el círculo */

.form-check-label {
    position: relative;
    cursor: pointer;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
}

/* FIN */

/* Estilo del círculo seleccionado */

.form-check-input:checked~.circle {
    border-color: #007bff;
}

/* Estilos para el botón deshabilitado */
.disabled {
    pointer-events: none;
    opacity: 0.65;
}

/* Estilos de contenido individual */

.contenedor-division_CI {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card_CI {
    border-radius: 10px;
    min-height: 200px;
    font-weight: bold;
    padding: 20px;
    position: relative;
    overflow: hidden;

    /*Para la img de fondo*/
    background-size: cover;
    background-position: center center;

    border: 1px solid #333;
}

.card_CI .textos__ {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contenido-imagen {
    margin-left: 25%;
    margin-top: 5%;
}

.contenido-imagen_9,
.contenido-imagen_6 {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Tipo 6 */
.card_CI_6 {
    border-radius: 10px;
    min-height: 200px;
    font-weight: bold;
    padding: 5px;
    position: relative;
    overflow: hidden;

    /*Para la img de fondo*/
    background-size: cover;
    background-position: center center;

    border: 1px solid #333;
}

.card_CI_6 .textos__6 {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contenedor-division_CI_6 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
}

.textos__6,
.textos__6_ {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.textos__6 img {
    width: 270px;
    height: 250px;
    border: 0.8px solid #333;
}

.textos__6_ img {
    width: 300px;
    height: 250px;
    border: 0.8px solid #333;
}

.contenedor-division_CI_6_3 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
}

.textos__6_3,
.textos__6_3_ {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.textos__6_3 img {
    width: 180px;
    height: 170px;
    border: 0.8px solid#333;
}

.textos__6_3_ img {
    width: 180px;
    height: 170px;
    border: 0.8px solid#333;
}

.contenedor__colorear {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1px;
}

.contenedor-division_CI_10 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.textos__10,
.textos__10_ {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.textos__10 img,
.textos__10_ img {
    width: 250px;
    height: 250px;
    border: 2.5px solid #333;
    border-radius: 25px;
}

/* FIN */

/* Estilo de paleta de colores  */

.color-box {
    width: 45px;
    height: 45px;
    border: 1px solid #000;
    margin: 5px;
}

.alineacion__paleta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    width: 100%;
}

.lista-paleta {
    max-height: 300px;
    max-width: 100px;
    overflow-y: auto;
    margin-left: 20%;
}

.lista-paleta_ {
    max-height: 300px;
    max-width: 100px;
    overflow-y: auto;
    margin-left: 0%;
}

/* FIN */

.estilo__ label {
    padding-top: 2%;
}

.in_out {
    margin-top: 3%;
}

/* Estilos de boton en actividades */

.tam_actividad {
    width: fit-content;
    height: fit-content;
}

.btn_resolver_act {
    width: 100%;
    height: 40px;
    margin-right: 2%;
}

.tam_listo,
.tam_listo_7 {
    width: 25%;
    margin-top: 5%;
}

.tam_listo_4 {
    width: 30%;
    margin-left: 40%;
}

.tam_listo_5 {
    margin-top: 1%;
    width: 25%;
}

/* FIN */

/* Estilos de input en actividades */

.inp_acti_4 {
    width: 130%;
    height: 50px;
    margin-right: 2%;
}

.inp_acti_5 {
    width: 95%;
    height: 60px;
}

.inp_acti_7,
.inp_acti_7_ {
    width: 100%;
    height: 60px;
}


.tt_a {
    width: 100%;
    margin-left: 40%;
}

/* FIN */

/* Estilos de formularios */

.formulario_acti_4,
.formulario_acti_9,
.formulario_acti_5 {
    margin-left: 5%;
    margin-top: 1%;
}

.formulario_acti {
    margin-left: 5%;
    margin-top: 1%;
}

.formulario_acti_7 {
    margin-left: 3%;
    margin-top: 1%;
}

.formulario_acti_6 {
    margin-left: 2%;
    margin-top: 1%;
}

/* FIN */

/* MEDIAS */

@media screen and (max-width: 1200px) {
    .contenedor__cuerpo {
        grid-template-columns: 2fr 1fr;
    }

    .contenedor__cuerpo_tipo4 {
        grid-template-columns: 3fr;
    }

    .contenedor__cuerpo__division {
        grid-template-columns: 2fr;
    }

    .contenedor__cuerpo__division_tipo4 {
        grid-template-columns: 3fr;
    }

    .contenedor__cuerpo__division_t9 {
        grid-template-columns: 3fr;
    }

    .contenedor__imagen {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .contenedor__imagen_tipo4 {
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .conten__ {
        align-items: center;
        border: 1px solid #333;
        margin: 0;
        padding: 0;
    }

    .conten__tipo4 {
        width: 100%;
        height: 100%;
        align-items: center;
    }

    .imagen {
        width: 80%;
        height: 100%;
    }

    .imagen_tipo1 {
        width: 80%;
        height: 100%;
    }

    .imagen_tipo1 img {
        width: 300px;
        height: 300px;
        border: 0.5 px gray;
        margin-bottom: 15px;
    }

    .imagen_tipo3 {
        width: 80%;
        height: 100%;
    }

    .imagen_tipo3 img {
        width: 300px;
        height: 300px;
        border: 0.5 px gray;
        margin-bottom: 5px;
    }

    .imagen_tipo4 {
        width: 100%;
        height: 100%;
    }

    .imagen_tipo4 img {
        width: 500px;
        height: 400px;
        border: 0.5 px gray;
    }

    .card__cuerpo {
        background-color: #fff;
    }
}

@media screen and (max-width: 990px) {
    .titulo__cabecera h2 {
        font-size: 1.3rem;
    }

    .titulo__ayuda {
        font-size: 0.9rem;
    }

    .subtitulo h4 {
        font-size: 1.1rem;
    }

    .alineacion__etiquetas h5 {
        font-size: 1.1rem;
    }

    .alineacion__etiquetas h6 {
        font-size: 1rem;
    }

    .formulario_acti {
        margin-left: 10%;
        margin-top: 1%;
    }

    .formulario_acti_4 {
        margin-left: 1%;
        margin-top: 1%;
    }

    .formulario_acti_5 {
        margin-left: 0;
    }

    .formulario_acti_6 {
        margin-left: 5%;
        margin-top: 1%;
    }

    .formulario_acti_7 {
        margin-left: 1%;
        margin-top: 1%;
    }

    .formulario_acti_9 {
        margin-left: 5%;
    }

    .ali_refe_7 {
        margin-left: 15%;
    }

    .span-2 {
        font-size: 1.1rem;
        text-align: justify;
    }

    .tt_a {
        margin-left: 25%;
    }

    .tam_listo {
        width: 40%;
    }

    .tam_listo_4 {
        margin-left: 25%;
    }

    .tam_listo_7 {
        margin-left: 10%;
        width: 40%;
        margin-top: 0;
    }

    .etiqueta {
        padding-left: 10%;
        font-size: 1rem;
    }

    .inp_acti_4 {
        width: 100%;
        height: 50px;
        margin-right: 2%;
    }

    .imagen_tipo4 {
        width: 75%;
        height: 100%;
        margin-left: initial;
    }

    .imagen_tipo5 img {
        width: 350px;
        height: 350px;
    }

    .imagen_tipo5_ img {
        width: 450px;
        height: 350px;
    }

    .imagen_tipo7 img {
        width: 450px;
        height: 350px;
    }

    .imagen_selcmulti {
        width: 180px;
        height: 180px;
    }

    .imagen_selcmulti_ {
        width: 250px;
        height: 200px;
    }

    .estilo__ {
        height: 40px;
        margin-left: 8%;
    }

    .estilo__ label {
        padding-top: 5%;
    }

    .in_out {
        margin-top: 8%;
    }

    .textos__6 img {
        width: 230px;
        height: 210px;
        border: 0.8px solid #333;
    }

    .textos__6_ img {
        width: 275px;
        height: 250px;
        border: 0.8px solid #333;
    }

    .textos__6_3 img {
        width: 170px;
        height: 160px;
        border: 0.8px solid#333;
    }

    .textos__6_3_ img {
        width: 130px;
        height: 125px;
        border: 0.8px solid#333;
    }

    .textos__10 img {
        width: 225px;
        height: 225px;
    }

    .imagen_tipo7,
    .imagen_tipo7_ {
        margin-left: 3%;
    }

    .lista-paleta {
        max-height: 270px;
        max-width: 75px;
        margin-left: 5%;
    }

    .lista-paleta_ {
        max-height: 275px;
        max-width: 75px;
        margin-left: 5%;
    }
}

@media screen and (max-width: 940px) {
    .titulo__ayuda {
        font-size: 0.6rem;
    }

    .subtitulo h4 {
        font-size: 1rem;
    }

    .alineacion__etiquetas h5 {
        font-size: 1rem;
    }

    .alineacion__etiquetas h6 {
        font-size: 0.9rem;
    }

    .formulario_acti {
        margin-left: 15%;
        margin-top: 1%;
    }

    .tam_label_acti1 {
        margin-top: 2%;
        font-size: small;
    }

    .contenido-imagen {
        margin-left: 10%;
        margin-top: 5%;
    }

    .contenedor-division_CI_10 {
        gap: 5px;
    }

    .contenedor-division_CI_6_3 {
        gap: 2px;
    }

    .textos__10 img {
        width: 250px;
        height: 200px;
        border: 2.5px solid #333;
        border-radius: 25px;
    }

    .textos__6 img {
        width: 210px;
        height: 200px;
        border: 0.8px solid #333;
    }

    .textos__6_3 img {
        width: 140px;
        height: 130px;
        border: 0.8px solid#333;
    }

    .imagen_tipo4 {
        width: 100%;
        height: 100%;
    }

    .imagen_tipo4 img {
        width: 400px;
        height: 350px;
    }

    .imagen_tipo5 img {
        width: 350px;
        height: 375px;
        border: 0.5 px gray;
    }

    .tam_listo_4 {
        margin-left: 40%;
    }

    .tam_listo_7 {
        margin-left: 10%;
        width: 40%;
    }

    .tt_a {
        margin-left: 40%;
    }

    .inp_acti_4 {
        width: 150%;
        height: 50px;
        margin-right: 2%;
    }

    .textos__10 img {
        width: 200px;
        height: 200px;
    }

    .imagen_tipo7 {
        margin-left: 8%;
    }

    .imagen_tipo7 {
        margin-left: 5%;
    }

    .imagen_tipo7_ {
        margin-left: 4%;
    }

    .lista-paleta {
        max-height: 225px;
    }
}

@media screen and (max-width: 900px) {
    .tam_listo {
        font-size: medium;
    }

    .etiqueta {
        padding-left: 50px;
        font-size: 0.8rem;
    }

    .in_out {
        margin-top: 10%;
    }

    .card__cuerpo .referencia {
        font-size: 0.6rem;
    }

    .tam_listo_4 {
        margin-left: 40%;
    }

    .inp_acti_4 {
        width: 125%;
        height: 50px;
        margin-right: 2%;
    }

    .inp_acti_7 {
        width: 100%;
    }

    .imagen_tipo1 img {
        width: 250px;
        height: 300px;
        padding-top: 15%;
    }

    .imagen_tipo3 img {
        width: 250px;
        height: 300px;
        margin-bottom: 5px;
    }

    .imagen_tipo4 img {
        width: 400px;
        height: 300px;
    }

    .imagen_tipo5 img {
        width: 350px;
        height: 350px;
    }

    .imagen_tipo5_ img {
        width: 400px;
        height: 350px;
    }

    .imagen_tipo7 img {
        width: 450px;
        height: 350px;
    }

    .imagen_selcmulti {
        width: 160px;
        height: 180px;
    }

    .formulario_acti_6 {
        margin-left: 5%;
        margin-top: 1%;
    }

    .textos__10 img {
        width: 175px;
        height: 175px;
    }

    .imagen_selcmulti_ {
        width: 225px;
        height: 200px;
    }

    .textos__6 img {
        width: 200px;
        height: 200px;
    }

    .textos__6_ img {
        width: 260px;
        height: 250px;
    }

    .textos__6_3 img {
        width: 130px;
        height: 130px;
    }

    .textos__6_3_ img {
        width: 165px;
        height: 160px;
    }

    .lista-paleta {
        max-height: 220px;
        margin-left: 10%;
    }

    .lista-paleta_ {
        max-height: 220px;
        margin-left: 10%;
    }

    .tam_listo_5 {
        width: 30%;
        margin-left: 5%;
    }
}

@media screen and (max-width: 860px) {
    .contenido-imagen {
        margin-left: 10%;
        margin-top: 5%;
    }

    .contenedor-division_CI_10 {
        gap: 5px;
    }

    .contenedor-division_CI_6,
    .contenedor-division_CI_6_3 {
        gap: 2px;
    }

    .textos__10 img {
        width: 170px;
        height: 170px;
        border-radius: 25px;
    }

    .textos__6 img {
        width: 190px;
        height: 180px;
    }

    .textos__6_3 img {
        width: 120px;
        height: 110px;
    }

    .textos__6_3_ img {
        width: 155px;
        height: 150px;
    }

    .in_out {
        margin-top: 12%;
    }

    .largo_labl {
        width: 200px;
    }

    .imagen_tipo4 img {
        width: 375px;
        height: 300px;
    }

    .imagen_tipo5 img {
        width: 300px;
        height: 325px;
    }

    .imagen_tipo5_ img {
        width: 375px;
        height: 350px;
    }

    .tt_a {
        margin-left: 35%;
    }

    .etiqueta {
        padding-left: 10%;
        font-size: 0.9rem;
    }

    .imagen_selcmulti {
        width: 160px;
        height: 160px;
    }

    .lista-paleta {
        max-height: 200px;
    }
}

@media screen and (max-width: 830px) {
    .estilo__ {
        height: 30px;
        margin-left: 8%;
    }

    .estilo__ label {
        padding-top: 2%;
    }

    .tam_listo {
        font-size: medium;
    }

    .in_out {
        margin-top: 6%;
    }

    .imagen_tipo1 {
        width: 80%;
        height: 100%;
    }

    .imagen_tipo1 img {
        width: 225px;
        height: 275px;
        padding-top: 15%;
    }

    .imagen_tipo3 img {
        width: 225px;
        height: 275px;
        margin-bottom: 5px;
    }

    .imagen_tipo5 img {
        width: 275px;
        height: 275px;
    }

    .imagen_tipo5_ img {
        width: 375px;
        height: 350px;
    }

    .imagen_tipo7 img {
        width: 400px;
        height: 325px;
    }

    .inp_acti_7 {
        width: 100%;
    }

    .textos__6 img {
        width: 175px;
        height: 175px;
        border: 0.8px solid #333;
    }

    .textos__6_3 img {
        width: 110px;
        height: 110px;
        border: 0.8px solid#333;
    }

    .imagen_selcmulti {
        width: 150px;
        height: 150px;
    }

    .imagen_selcmulti_ {
        width: 210px;
        height: 170px;
    }

    .lista-paleta,
    .lista-paleta_ {
        max-height: 200px;
    }
}

@media screen and (max-width: 780px) {
    .contenido-imagen {
        margin-left: 5%;
        margin-top: 5%;
    }

    .contenedor-division_CI_10 {
        gap: 5px;
    }

    .contenedor-division_CI_6,
    .contenedor-division_CI_6_3 {
        gap: 2px;
    }

    .textos__10 img {
        width: 150px;
        height: 150px;
        border: 2.5px solid #333;
        border-radius: 25px;
    }

    .textos__6 img {
        width: 170px;
        height: 160px;
        border: 0.8px solid #333;
    }

    .span-2 {
        font-size: 1rem;
        text-align: justify;
    }

    .textos__6_3 img {
        width: 110px;
        height: 100px;
        border: 0.8px solid#333;
    }

    .formulario_acti {
        margin-top: 5%;
    }

    .tam_listo {
        width: 50%;
        font-size: small;
    }

    .tam_listo_7 {
        width: 25%;
    }

    .estilo__ label {
        padding-top: 1%;
    }

    .card__cuerpo .referencia {
        font-size: 0.5rem;
    }

    .imagen_tipo1 {
        width: 80%;
        height: 95%;
    }

    .imagen_tipo1 img {
        width: 200px;
        height: 250px;
        padding-top: 15%;
    }

    .imagen_tipo3 {
        width: 80%;
        height: 95%;
    }

    .imagen_tipo3 img {
        width: 200px;
        height: 250px;
        padding-top: 15%;
    }

    .imagen_tipo4 img {
        width: 325px;
        height: 300px;
    }

    .imagen_tipo5 img {
        width: 250px;
        height: 250px;
    }

    .imagen_tipo7 {
        margin-left: 5%;
    }

    .imagen_tipo7 img {
        width: 350px;
        height: 300px;
    }

    .inp_acti_7 {
        width: 100%;
    }

    .imagen_selcmulti {
        width: 125px;
        height: 150px;
    }

    .formulario_acti_9 {
        margin-left: 5%;
    }

    .lista-paleta {
        max-height: 175px;
    }
}

@media screen and (max-width: 768px) {
    .contenido-imagen {
        margin-left: 5%;
        margin-top: 5%;
    }

    .contenedor-division_CI_10 {
        gap: 5px;
    }

    .contenedor-division_CI_6,
    .contenedor-division_CI_6_3 {
        gap: 3px;
    }

    .card__cuerpo .referencia-2 {
        font-size: 0.5rem;
    }

    .textos__10 img {
        width: 190px;
        height: 200px;
        border: 2.5px solid #333;
        border-radius: 25px;
    }

    .textos__10_ img {
        width: 180px;
        height: 190px;
        border: 2.5px solid #333;
        border-radius: 25px;
    }

    .textos__6_ img {
        width: 180px;
        height: 180px;
    }

    .textos__6 img {
        width: 250px;
        height: 225px;
    }

    .textos__6_3_ img {
        width: 120px;
        height: 110px;
    }

    .textos__6_3 img {
        width: 160px;
        height: 150px;
    }

    .titulo__ayuda {
        font-size: 0.7rem;
    }

    .subtitulo h4 {
        font-size: 0.9rem;
    }

    .alineacion__etiquetas h5 {
        font-size: 0.9rem;
    }

    .alineacion__etiquetas h6 {
        font-size: 0.8rem;
    }

    .estilo__ label {
        padding-top: 5%;
        font-size: small;
    }

    .estilo__ {
        height: 40px;
        margin-left: 8%;
    }

    .in_out {
        margin-top: 5%;
    }

    .formulario_acti {
        margin-left: 10%;
        margin-top: 1%;
    }

    .tam_label_acti1 {
        margin-top: auto;
        font-size: small;
    }

    .imagen_tipo1,
    .imagen_tipo3 {
        width: 80%;
        height: 100%;
    }

    .imagen_tipo5_ img {
        width: 225px;
        height: 225px;
    }

    .imagen_tipo5 img {
        width: 300px;
        height: 300px;
    }

    .textos__10 img {
        width: 180px;
        height: 175px;
    }

    .tam_listo_5 {
        width: 30%;
        margin-left: 5%;
    }

    .tam_listo_7 {
        width: 30%;
    }

    .span-2_ {
        font-size: 1rem;
    }

    .imagen_selcmulti_ {
        width: 125px;
        height: 150px;
    }

    .imagen_selcmulti {
        width: 200px;
        height: 200px;
    }

    .imagen_tipo7_ img {
        width: 350px;
        height: 300px;
    }

    .imagen_tipo7 img {
        width: 450px;
        height: 350px;
    }

    .inp_acti_7_ {
        width: 90%;
    }

    .inp_acti_7 {
        width: 110%;
    }

    .lista-paleta {
        margin-left: 0%;
    }

    .lista-paleta_ {
        max-height: 125px;
    }

    .span-2 {
        font-size: 1.3rem;
    }
}

@media (max-width: 700px) {
    .contenido-imagen {
        margin-left: 2%;
        margin-top: 2%;
    }

    .contenedor-division_CI_10 {
        gap: 5px;
    }

    .textos__10 img {
        width: 160px;
        height: 160px;
        border: 1.5px solid #333;
        border-radius: 25px;
    }

    .textos__6 img {
        width: 180px;
        height: 180px;
        border: 0.8px solid #333;
    }

    .textos__6_3 img {
        width: 140px;
        height: 130px;
        border: 0.8px solid#333;
    }
}