@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.centrado {
  /* Establece el margen externo en 0 */
  margin: 0;
  /* Establece el espaciado interno en 0 */
  padding: 0;
  /* Establece la altura en 100% */
  height: 100%;
}

.contenedor-perfil {
  border: 1px solid #333;
  /* Establece el color de fondo del contenedor */
  background-color: #fff;
  /* Aplica bordes redondeados al contenedor */
  border-radius: 10px;
  /* Establece el ancho del contenedor */
  width: 60%;
  /* Establece el ancho máximo permitido del contenedor */
  max-width: 80%;
  /* Centra el contenedor horizontalmente en la página */
  margin: 70px auto;
  /* Establece el espaciado interno superior e inferior del contenedor */
  padding: 40px 0;

  /* Utiliza un sistema de cuadrícula para organizar el contenido */
  display: grid;
  /* Establece una columna en la cuadrícula con un tamaño flexible */
  grid-template-columns: 4fr;
}

.contenedor-foto {
  align-items: center;
  /* Centra verticalmente los elementos en el contenedor */
  width: 100%;
  /* Asigna un ancho del 100% al contenedor */

  display: flex;
  /* Establece el contenedor como un contenedor flexible */
  flex-direction: column;
  /* Define la dirección de los elementos hijos en columnas */
  justify-content: space-between;
  /* Distribuye el espacio disponible verticalmente entre los elementos */
}

.contenedor-foto img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.contenedor-username {
  text-align: center;
  display: flex;
  /* Establece el contenedor como un contenedor flexible */
  flex-direction: column;
  /* Define la dirección de los elementos hijos en columnas */
  justify-content: space-between;
  /* Distribuye el espacio disponible verticalmente entre los elementos */
}

.contenedor-username h6 {
  font-family: "Pacifico", cursive;
  font-weight: bold;
  font-size: 20px;
}

.texto__ {
  font-family: "Pacifico", cursive;
  font-weight: bold;
}

.contenedor-username li {
  list-style: none;
}

.contenedor-opciones {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card__perfil {
  min-height: 50px;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.card__perfil .opciones {
  height: 100%;
  align-items: center;

  display: flex;
  /* Establece el contenedor como un contenedor flexible */
  flex-direction: column;
  /* Define la dirección de los elementos hijos en columnas */
  justify-content: space-between;
  /* Distribuye el espacio disponible verticalmente entre los elementos */
}

.contenedor-datos {
  display: grid;
  grid-template-columns: 3fr;
}

.ordenar {
  display: flex;
  flex-direction: row;
  gap: 10px;

}

.card_datos__p {
  min-height: 50px;
  padding-left: 10px;
  position: relative;
  overflow: hidden;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.card_datos__p .opciones_datos {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.contenedor-datos li {
  list-style: none;
  margin-top: 25px;
  margin-bottom: 25px;
}

.dato {
  font-family: 'Times New Roman', Times, serif;
  font-size: 0.8rem;
  font-weight: bold;
}

.card_datos__p .opciones_datos ul li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.boton {
  padding-top: 20px;
  /* Espaciado interno superior */
  padding-bottom: 0px;
  /* Espaciado interno inferior */
  padding-left: 20px;
  /* Espaciado interno izquierdo */
  padding-right: 20px;
  /* Espaciado interno derecho */
}

.boton-opciones {
  background-color: #d9d9d9;
  /* Color de fondo */
  color: #333;
  /* Color del texto */
  padding: 10px 20px;
  /* Espaciado interno (arriba/abajo, izquierda/derecha) */
  font-size: 12px;
  /* Tamaño de la letra */
  border: none;
  /* Sin borde */
  border-radius: 4px;
  /* Bordes redondeados */
  cursor: pointer;
  /* Cambio de cursor al pasar el ratón */
  text-decoration: none;
  /* Elimina el estilo de subrayado*/
}

.boton-opciones:hover {
  background-color: #45a049;
  /* Color de fondo al pasar el ratón */
}

/* Tarjeta de peticion*/
.img-tamaño {
  border-radius: 10px;
  height: 60%;
  margin-top: 50%;
}

.titulo-peticion {
  font-size: 1.1rem;
  color: #fff;
  background-color: #303440;
  border-radius: 5px;
  padding-left: 5px;
  padding-top: 2px;
  height: 30px;
}

.titulo-conocenos {
  font-size: 1.1rem;
  color: #fff;
  background-color: #303440;
  border-radius: 5px;
  padding-left: 5px;
  padding-top: 2px;
  height: 30px;
}

.fecha-reportes {
  font-size: 1.1rem;
  color: #333;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 5px;
  padding-left: 5px;
  padding-top: 2px;
  margin-top: 25px;
  height: 115px;
}

.texto-peticion {
  color: #333;
  font-family: 'Roboto';
  text-align: justify;
  padding-right: 5px;
}

.texto-peticion-c {
  color: #333;
  font-family: 'Roboto';
  text-align: center;
}

/* TARJETAS DE INFORMACION  */
.contenedor_perfil {
  height: 500px;
  margin-left: 8%;
  margin-right: 15%;
  margin-top: 10%;
}

.tarjeta_perfil {
  border: 1.5px solid #868686;
  margin-bottom: 2%;
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
  max-width: 90%;
}

.img_perfil {
  border-radius: 10px;
  height: 60%;
  margin-top: 50%;
}

.titulo_union {
  font-size: 0.8rem;
}

.descrip_union {
  color: #333;
  font-family: 'Roboto';
  font-size: 0.8rem;
}

.titulo_tarjeta {
  font-size: 1rem;
}

.descrip_tarjeta {
  color: #333;
  font-family: 'Roboto';
}

.tam_icon {
  height: fit-content;
  width: fit-content;
}

.img-tarjeta {
  width: 275px;
  height: 200px;
  border-radius: 50px;
  margin-left: 10%;
  margin-top: 5%;
}

.img_result {
  border-radius: 10px;
  height: 40%;
  margin-top: 90%;
}

/* TARJETA DE DOMINIO */
.alm_tarjeta_general {
  height: 100vh;
  margin-left: 20%;
}

.card_tarjeta_general {
  max-width: 75%;
}

.img-ref-tarjeta {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  margin-top: 25%;
}

.opc_tarjeta {
  font-family: 'Roboto';
  font-size: 1rem;
}

.tarjeta__reporte {
  border: 0.5px solid #868686;
  margin-bottom: 2%;
  width: 100%;
}

/* Modificación por resolución */
@media (max-width: 980px) {
  .alm_tarjeta_general {
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .card_tarjeta_general {
    max-width: 100%;
  }

  .img-tarjeta {
    width: 250px;
    height: 200px;
    border-radius: 50px;
    margin-left: 10%;
    margin-top: 5%;
  }

  .tam_icon {
    height: 35px;
    width: 40px;
  }

  .img-tamaño {
    border-radius: 10px;
    height: 50%;
    margin-top: 100%;
  }

}

@media (max-width: 940px) {
  .img_perfil {
    border-radius: 10px;
    height: 40%;
    margin-top: 100%;
  }

  .tarjeta_perfil {
    border: 1.5px solid #868686;
    margin-bottom: 2%;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 100%;
  }

  .titulo-peticion {
    font-size: 1rem;
  }

  .titulo_tarjeta {
    font-size: 0.9rem;
  }

  .img_result {
    border-radius: 10px;
    height: 30%;
    margin-top: 120%;
  }
}

@media (max-width: 881px) {
  .tarjeta_perfil {
    border: 1.5px solid #868686;
    margin-bottom: 2%;
    width: 110%;
    margin-left: 1%;
    margin-right: 5%;
    max-width: 110%;
  }

  /* TARJETAS GENERALES */
  .img-tarjeta {
    width: 200px;
    height: 175px;
    border-radius: 50px;
    margin-left: 10%;
    margin-top: 5%;
  }

  .img-ref-tarjeta {
    width: 200px;
    height: 200PX;
    border-radius: 10px;
    margin-top: 25%;
  }

  .titulo_union,
  .descrip_union {
    font-size: 0.8rem;
  }

  .titulo_tarjeta {
    font-size: 0.9rem;
  }

  .opc_tarjeta {
    font-family: 'Roboto';
    font-size: 1rem;
  }

  .texto-peticion,
  .texto-peticion-c {
    font-size: medium;
  }

  .titulo-conocenos {
    font-size: 0.9rem;
    padding-top: 5px;
  }

  .img_result {
    border-radius: 10px;
    height: 30%;
    margin-top: 140%;
  }

}

@media (max-width: 820px) {
  .img_perfil {
    border-radius: 10px;
    height: 35%;
    margin-top: 110%;
  }

  .img-tamaño {
    border-radius: 10px;
    height: 40%;
    margin-top: 150%;
  }

  .titulo-conocenos {
    font-size: 0.8rem;
    padding-top: 6px;
  }

  .tarjeta__reporte {
    border: 0.5px solid #868686;
    margin-bottom: 5%;
    width: 100%;
  }

  .img_result {
    border-radius: 10px;
    height: 30%;
    margin-top: 170%;
  }
}

@media (max-width: 780px) {
  .img_perfil {
    border-radius: 10px;
    height: 30%;
    margin-top: 120%;
  }

  .titulo-peticion {
    font-size: 0.9rem;
    padding-top: 5px;
  }

  .titulo_tarjeta {
    font-size: 0.8rem;
  }

  .descrip_tarjeta {
    font-size: 0.9rem;
  }

  .tam_icon {
    height: 35px;
    width: 45px;
  }

  /* TARJETAS GENERALES */
  .img-ref-tarjeta {
    width: 150px;
    height: 150PX;
    border-radius: 10px;
    margin-top: 40%;
  }

  .titulo_union,
  .descrip_union {
    font-size: 0.7rem;
  }

  .titulo_tarjeta {
    font-size: 0.8rem;
  }

  .opc_tarjeta {
    font-family: 'Roboto';
    font-size: 0.8rem;
  }

  .texto-peticion {
    font-size: medium;
  }

  .titulo-conocenos {
    font-size: 0.7rem;
    padding-top: 6px;
  }
}

@media (max-width: 768px) {
  .img_perfil {
    border-radius: 10px;
    height: 25%;
    margin-top: 130%;
  }

  .titulo-peticion {
    font-size: 0.8rem;
    padding-top: 5px;
  }

  .titulo_tarjeta {
    font-size: 0.7rem;
  }

  .descrip_tarjeta {
    font-size: 0.8rem;
  }

  .tam_icon {
    height: 35px;
    width: 45px;
  }

  /* TARJETAS GENERALES */
  .texto-peticion,
  .texto-peticion-c {
    font-size: small;
  }
}

@media (max-width: 767px) {

  /* TARJETAS GENERALES */
  .img-tarjeta {
    width: 250px;
    height: 200px;
    border-radius: 50px;
    margin-left: 15%;
    margin-top: 5%;
  }

  .img-ref-tarjeta {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-top: 10%;
  }

  .img-tamaño {
    border-radius: 10px;
    height: 40%;
    margin-top: 15%;
  }

  .img_perfil {
    border-radius: 10px;
    height: 30%;
    margin-top: 20%;
  }
}

@media (max-width: 700px) {
  .contenedor_perfil {
    height: 250px;
    margin-left: 8%;
    margin-right: 15%;
    margin-top: 10%;
  }

  .tarjeta_perfil {
    border: 1.5px solid #868686;
    margin-bottom: 2%;
    width: 90%;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 90%;
  }

  .img_perfil {
    border-radius: 10px;
    height: 15%;
    margin-top: 15%;
  }

  .tam_icon {
    height: 35px;
    width: 45px;
  }

}

@media (max-width: 480px) {
  .contenedor-perfil {
    padding: 10px;
  }

  .contenedor-username h6 {
    font-size: 10px;
  }

  .contenedor-username p {
    font-size: 12px;
  }

  .card__perfil,
  .card_datos__p {
    padding: 5px;
  }

  .boton-opciones {
    padding: 4px 8px;
    font-size: 10px;
  }
}

.texto-reporte {
  font-family: cursive;
  text-align: justify;
  font-size: 0.8rem;
  color: #615f5f;
}