/* ALINEACION DE LISTADO DE CONTENIDO */
.orden_lista_contenido {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* ALINEACION DE LISTADO DE CONTENIDO */
.alineacion-RS {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

/* EDICION */
.contenedor__edicion {
    width: 35%;
    margin-top: 90px;
    margin-bottom: 90px;
}

.contenedor__edicion-2 {
    width: 55%;
    margin-top: 70px;
    margin-bottom: 90px;
}

.contenedor__edicion-3 {
    width: 100%;
    margin-top: 120px;
    margin-bottom: 90px;
    margin-left: 25px;
}

.contenedor__ancho {
    width: 40%;
    margin-top: 90px;
    margin-bottom: 90px;
}

.titulo__CE {
    padding: 10px;
    font-size: 1.5rem;
    padding-top: 15px;
}

.texto__descripcion {
    text-align: center;
    font-size: 0.9rem;
}


.borde__CE {
    border: 1px solid #333;
}

.tamanio-text-area {
    height: 100px;
}

/* TARJETA DE APLICACION */
.tamnio_descripcion {
    font-size: 0.9rem;
}

.img__descripcion {
    border-radius: 10px;
    height: 20%;
    margin-top: 50%;
    margin-left: 10%;
}


/* LISTAS */
.alienacion-externa {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.alineacion-triple{
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-gap: 5px;

}

.alineacion-3{
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-gap: 5px;

}

.alineacion-lista-busqueda {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}

.separacion-busqueda {
    margin-right: 15px;
}

/* TARJETAS */
.img-tarjeta{
    width: 275px;
    height: 250px;
    border-radius: 50px;
    margin-left: 6%;
    margin-top: 5%;
}

.img-ref-tarjeta{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin-top: 25%;
}

.img-tarjeta-2{
    width: 275px;
    height: 175px;
    border-radius: 50px;
    margin-left: 8%;
    margin-top: 5%;
}

/* MEDIAS */
@media (max-width: 975px) {
    .orden_lista_contenido {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    .orden_lista_contenido div {
        margin-bottom: 5px;
        margin-right: 50px;
    }
}