/* EDICION */
.contenedor__edicion {
    width: 35%;
    margin-top: 90px;
    margin-bottom: 90px;
}

.titulo__CE{
    padding: 10px;
    font-size: 1.5rem;
    padding-top: 15px;
}

.texto__descripcion {
    text-align: center;
    font-size: 0.9rem;
}


.borde__CE{
    border: 1px solid #333;
}

/* TARJETA DE APLICACION */
.tamnio_descripcion {
    font-size: 0.9rem;
}

.img__descripcion {
    border-radius: 10px;
    height: 20%;
    margin-top: 50%;
    margin-left: 10%;
}